.description {
  > div {
    font-size: 13px;
    line-height: 1.25;
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 6; 
    overflow: hidden; 
    text-overflow: ellipsis; 
  }
}