.select {
  label {
    color: $white;
  }

  ._select {
    // padding: 10px 15px;
    // outline: 0px;
    // color: $white;
    // background-color: transparent;
    // text-align: center;
    font-family: "Share Tech Mono", monospace;

    #react-select-2-placeholder {
      color: $primary;
    }

    div {
      margin: 0px 0px;
      border-width: 1px;

      :focus-visible {
        border-width: 0px;
      }
    }
  }
}